<div class="jumbotron">
  <h4 class="display-4 text-center"><%= @feed.title %></h4>
  <p class="lead text-center"><%= @feed.description %></p>
  <p class="lead text-center"><%= link_to 'Back to feeds', feeds_path, :class => "btn btn-primary" %></p>
</div>

<div class="container-fluid">
  <div class="row d-flex justify-content-center">
    <div class="col-6" id="accordion" role="tablist" aria-multiselectable="true">
      <% @entries.each do |entry| %>
      <div class="card">
        <div class="card-header" role="tab" id="heading<%= entry.id.to_s %>">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= entry.id.to_s %>" aria-expanded="false" aria-controls="collapse<%= entry.id.to_s %>" class="card-link"><%= entry.title  %></a> - <em> published <%= time_ago_in_words(entry.published) %> ago.</em>  
        </div>
        
        <div id="collapse<%= entry.id.to_s %>" class="collapse" role="tabpanel" aria-labeledby="heading<%= entry.id.to_s %>">
          <div class="card-block">
            <%= entry.summary.html_safe %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>